<h1>My tasks</h1>
<ol>
  <% @tasks.each do |task|  %>
    <li><%= link_to task.title, task_path(task) %> <%= task.details %>
    <% if task.completed %>
      <i class="fa-regular fa-square-check"></i>
    <% else %>
      <i class="fa-light fa-stop"></i>
    </li>
    <% end %>
  <% end %>
</ol>

<%= link_to "Add new Task", new_task_path %>
